rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Catch-all deny
    match /{document=**} {
      allow read, write: if true; // Diaktifkan agar sistem input NIS/NISN siswa bekerja dengan mulus di client-side
    }
  }
}
